# --- QMIX specific parameters ---
# --- This config file uses the episodic runner, which is useful for testing locally ---

# use epsilon greedy action selector
action_selector: "epsilon_greedy"
epsilon_start: 1.0
epsilon_finish: 0.05
epsilon_anneal_time: 50000

runner: "episode"
batch_size_run: 1

buffer_size: 5000

# update the target network every {} episodes
target_update_interval: 200

# use the Q_Learner to train
agent_output_type: "q"
learner: "q_learner"
double_q: True
mixer: "qmix"
mixing_embed_dim: 32

name: "qmix_everything"
n_steps: 1
use_decay: False # Use lr decay
lr_decay_gamma: 0.5 # Decay rate
initial_lr: .0025 # initial lr for decay
lr: .0005
use_cuda: True
optimizer: "rmsprop"
optim_eps: .0001
loss: "l2"
regularization: 0
prioritized_replay: True
prioritized_replay_alpha: 0.6
prioritized_replay_beta: 0.4
prioritized_replay_eps: 0.000001