# --- QMIX specific parameters ---
# --- This config file uses the episodic runner, which is useful for testing locally ---

# use epsilon greedy action selector
action_selector: "epsilon_greedy"
epsilon_start: 1.0
epsilon_finish: 0.05
epsilon_anneal_time: 50000

runner: "episode"
batch_size_run: 1

buffer_size: 5000

# update the target network every {} episodes
target_update_interval: 200

# use the Q_Learner to train
agent_output_type: "q"
learner: "q_learner"
double_q: True
mixer: "qmix_plus"
mixing_embed_dim: 32

name: "qmix_everything"
n_steps: 1
use_decay: True # Use lr decay
lr_decay_gamma: 0.5 # Decay rate
initial_lr: .01 # initial lr for decay